extends layouts/login

block content
  .wrapper.wrapper-login
    .container.container-login
      h1.text-center HR Information System
      h6.text-center (version 0.1.0)
      h3.text-center Login
      form(action='/auth/login' method='POST')
        input(type='hidden', name='_csrf', value=_csrf)
        .login-form
          .form-group
            label.placeholder(for='username') Username
            input.form-control.input-border-bottom(required=true name='username' type='text')
          .form-group
            label.placeholder(for='password') Password
            input.form-control.input-border-bottom(required=true name='password' type='password')
          .form-action.mb-3
            button.btn.btn-primary.btn-rounded.btn-login(type='submit') Login
          .msg.text-danger
            for error in errors
              div=error
